@media screen and (min-width: 0px) and (max-width: 552px) {
 
        body {
            background-color: red;
        }
        
        #barra-laterale {
        width: 50px;
        }

        #barra-superiore {
        width: calc(100% - 50px);
         }


         #corpo-centrale {
        width: calc(100% - 50px);
        }

        
        

        









}