/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-size: 12px;
}

/* ANCHOR MACROAREE  */

/* L'eventuale utilizzo di flex nelle aree non è qui ma nella sezione specifica di ogni sezione */

#schermata-app {
  height: 100vh;
  width: 100%;
  /* background-color: yellow; */
}

#parte-superiore {
  height: calc(100% - 96px);
  width: 100%;
  /* background-color: #141922; */
  display: flex;
}

#barra-inferiore {
  position: fixed;
  width: 100%;
  height: 96px;
  background-color: #282828;
  bottom: 0px;
}

#barra-laterale {
  width: 250px;
  background-color: black;
}

#corpo {
  width: calc(100% - 250px);
  background-color: #141922;
  padding-top: 96px;
  overflow-y: auto;
  font-size: 4em;
  color: white;
}

#barra-superiore {
  position: fixed;
  width: calc(100% - 250px);
  height: 96px;
  background-color: rgba(0, 0, 0, 0.603);
  top: 0px;
  right: 0px;
}

/* ANCHOR BARRA LATERALE */

#barra-laterale {
 display: flex;
 flex-direction: column;
 padding-top: 15px;
}



#parte-inferiore-barra-laterale {
  /* background-color: green; */
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
 
}
.contenitore-barra-laterale {
  margin-bottom: 10px;
  /* background-color: blue;  */
}


#logo {
  width: 150px;
  margin-left: 20px;
}

#logo-cell {
  display: none;
}

.unita-barra-laterale {
  padding: 5px 0px 5px 20px;
  color: gray;
  display: flex;
  /* background-color: yellow;   */
  align-items: center;

}

#barra-laterale h3 {
  padding: 5px 0px 5px 20px;
  color: white;

}



.icona-barra-laterale {
  font-size: 2em;
  margin-right: 8px;
  /* background-color: red; */
}


.icona-barra-laterale-playlist {
  font-size: 3.5em;
  margin-right: 8px;
  /* background-color: red; */
}

.prima-unita-parte-inferiore-barra-laterale {
  /* background-color: yellow;  */
  padding: 0px 0px 8px 0px;
  border-bottom: 2px solid grey;
  color: grey;
}

.icona-parte-inferiore-barra-laterale {
  margin-right: 5px;
}

.contenitore-parte-inferiore-barra-laterale {
  display: flex;
  flex-direction: column;
  width: calc(100% - 40px);
}

.seconda-unita-parte-inferiore-barra-laterale {
  padding: 8px 0px 3px 0px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.2em;
}

.seconda-unita-parte-inferiore-barra-laterale img {
  width: 1.6em;
  height: 1.6em;
  margin-right: 5px;
  background-color: grey;
  border-radius: 50%;
}

/* BARRA SUPERIORE  */

#barra-superiore {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

#barra-superiore a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 1em;
  padding: 6px 15px 6px 15px;
  border: 2px solid white;
  border-radius: 14px;
  margin-right: 5px;
  white-space: nowrap;
}


/* ANCHOR BARRA INFERIORE */

#barra-inferiore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.blocco1-barra-inferiore {
  height: 80%;
  width: 22%;
  background-color: orangered;
  margin-left: 8px;
}

.blocco2-barra-inferiore {
  height: 80%;
  width: 46%;
  background-color: orangered;
}

.blocco3-barra-inferiore {
  height: 80%;
  width: 22%;
  background-color: orangered;
  margin-right: 8px;
}


