@media screen and (min-width: 553px)  {
 
    body {
        /* background-color: rgb(98, 0, 255);  */
    }
    
    .unita-barra-laterale:hover {
  padding: 6px 0px 6px 16px;
  color: white;
  display: flex;
  align-items: center;
  border-left: 4px solid rgb(15, 255, 35);
  cursor: pointer;
  
}

.immagine-album i {
  position: absolute;
    top: 35%;
  right: 35%;
  display: inline-block;
  font-size: 4em;
}

.hover-immagini {
  position: absolute;
    top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
  width: 170px;
}

.hover-immagini:hover {
  display: none;
}

.sotto-immagini {
  filter: brightness(60%);
  
}


#barra-superiore a:hover {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 1.3em;
  padding: 9px 20px 9px 20px;
  border: 2px solid white;
  border-radius: 18px;
  margin-right: 5px;
  white-space: nowrap;
}

.b1-ba-in-container.secondo i:hover {
  font-size: 1.6em;
  color: rgb(255, 255, 255);
}

.bl2-ba-in-sopra i:hover {
  font-size: 1.8em;
 
}

#play-bi:hover {
font-size: 1.6em;
}

.blocco3-barra-inferiore i:hover {
  font-size: 1.3em;
}







}